<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/sanitize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1 class="display-4"><%= title %></h1>
    </header>
  </body>
  <main>
    <ul class="main-links">
      <li><a href="/users">ユーザー管理</a></li>
      <li><a href="/users/login">ログイン</a></li>
    </ul>
  </main>
</html>
